*{margin:0;padding:0;}
body{overflow: hidden;}
#wrap{
	width: 100%
	height: 100%;
}
#wrapImg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -10;
}
#bg{
	position: relative;
	width: 100%;
	height: 100%;
}
#bg span{
	position: absolute;
	border-radius: 50%;
}