/*标签样式初始化*/
			body{margin:0;padding:0;background:#fff;font-size:14px;font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'}
			form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
			img{border:0;}
			ul,li{list-style-type:none;}
			a{color:#00007F;text-decoration:none;}
			a:hover{text-decoration:none;}
			/*自定义样式*/
			/*顶部导航栏*/
			#nav{
				width: 100%;
				height: 65px;
				background: black;
				box-shadow:0 5px 5px #ccc;
				position: fixed;
				top:0;
				z-index: 1000;
			}
			#nav-bar{
				position: relative;
				width: 1200px;
				height: 65px;
				margin: 0 auto;
				line-height: 65px;
			}
			#nav-list{
				float:right;
			}
			#nav-list li{
				float:left;
			}
			#nav-list li a{
				color:#a8a8a8;
				margin:0 20px;
				font-size:16px;
			}
			#push-down{
				position: absolute;
				right:10px;
				top:17px;
				width: 30px;
				height: 30px;
				float:right;
				display: none;
				cursor: pointer;
			}
			#down-list{
				position: relative;
				width: 100%;
				text-align: center;
				display: none;
				z-index: 10;
			}
			#down-list li{
				background: #333;
				border-bottom:1px solid #ccc;
			}
			#down-list li:last-child{
				border:none;
			}
			#down-list li a{
				color:white;
				font-size:18px;
			}
			#empty{
				height: 65px;
			}
			/*内容栏*/
			#wrap-first{
				width: 100%;
				background: #ccc;
			}
			.content-first{
				width: 1200px;
				margin:0 auto;
				overflow: hidden;
				background: url(../img/bim/building1-half-t.png) right bottom no-repeat;
			}
			.content-sec{
				width: 1200px;
				height: 639px;
				margin:0 auto;
				overflow: hidden;
			}
			.content-thr{
				width: 1200px;
				height: 639px;
				margin:0 auto;
				overflow: hidden;
				background: url(../img/bim/building2-half-t.png) left no-repeat;
				background-position-y:100px;
			}
			.content-four{
				width: 1200px;
				height: 717px;
				margin:0 auto;
				background: url(../img/bim/building2-half-b.png) 65px 0 no-repeat;
			}
			.content-five{
				width: 1200px;
				height: 639px;
				margin:0 auto;
				overflow: hidden;
			}
			#con-left,#con-right{
				width: 600px;
				/*height: 539px;*/
				float:left;
			}
			#con-left p{
				width: 100%;
				font-size:16px;
				margin:20px 0;
				text-align: left;
				text-indent:2em;
			}
			#con-left h3{
				width: 100%;
				padding-top:100px;
				text-align: left;
				color:rgba(51, 51, 51, 0.66);
			}
			#con-left h3 span{
				padding:0 5px;
				border:2px solid #999;
				border-radius:7px;
				margin-right:10px;
			}
			#con-right{
				/*margin-top:100px;*/
				position: relative;
			}
			#con-right img{
				position: absolute;
			}
			#wrap-sec{
				width: 100%;
				background: white;
			}
			#con-firstImg{
				right:0;
				/*height: 100%;*/
			}
			#con-secImg{
				right:59px;
			}
			#wrap-four{
				width: 100%;
				background: white;
			}
			
			#con-fiveImg{
				right:71px;
			}
			/*底部栏*/
			#footer{
				width: 100%;
				margin:30px auto;
				position: relative;
				text-align: center;
			}
			#mail{
				display: block;
				width: 25px;
				height: 25px;
				margin: 10px auto;
			}
			#footer-bot{
				height: 25px;
				width: 120px;
				margin:0 auto;
				display: flex;
				justify-content: space-between;
			}
			#mail img,#facebook img,#youtobe img,#link img,#twitter img{
				position: absolute;
			}
			#mail img{
				width: 25px;
				height: 25px;
			}
			#facebook img,#youtobe img,#link img,#twitter img{
				width: 25px;
				height: 25px;
			}
			#footer ul li a img:last-child{
				display: none;
			}
			#footer p{
				margin-top:20px;
				color:#666;
			}
			@media screen and (min-width:850px) and (max-width:1200px) {
				#nav-bar{
					width: 100%;
				}
			}
			@media  screen and (max-width:850px) {
				#nav-bar{
					width: 100%;
				}
				#push-down{
					display: block;
				}
				#nav-list{
					display: none;
				}
			}
			@media screen and (max-width:640px ) {
				.content-first,.content-sec,.content-thr,.content-four,.content-five{
					width: 100%;
				}
				.content-first{
					background: url(../img/bim/building1-half-t.png) right bottom no-repeat;
					background-size:50%;
					
				}
				.content-thr{
					background-size:50%;
				}
				.content-four{
					background-size:50%;
					
				}
				#con-left,#con-right{
					width: 50%;
				}
				#con-left img{
					width: 30%;
				}
			}
			@media only screen and (min-width: 640px) and (max-width: 1200px) {
				.content-first,.content-sec,.content-thr,.content-four,.content-five{
					width: 100%;
				}
				#con-left,#con-right{
					width: 50%;
				}
				#con-left img{
					width: 30%;
				}
			}
			@media screen and (min-width:1200px ) {
				.content-first{
					height: 717px;
				}
			}