/*标签样式初始化*/
			body{margin:0;padding:0;background:#fff;font-size:14px;font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'}
			form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
			img{border:0;}
			ul,li{list-style-type:none;}
			a{color:#00007F;text-decoration:none;}
			a:hover{text-decoration:none;}
			/*自定义样式*/
			body{

			}
			/*顶部导航栏*/
			#nav{
				width: 100%;
				height: 65px;
				background: black;
				box-shadow:0 5px 5px #ccc;
			}
			#nav-bar{
				position: relative;
				width: 1200px;
				height: 65px;
				margin: 0 auto;
				line-height: 65px;
			}
			#nav-list{
				float:right;
			}
			#nav-list li{
				float:left;
			}
			#nav-list li a{
				color:#a8a8a8;
				margin:0 20px;
				font-size:16px;
			}
			#push-down{
				position: absolute;
				right:10px;
				top:17px;
				width: 30px;
				height: 30px;
				float:right;
				display: none;
				cursor: pointer;
			}
			#down-list{
				position: relative;
				width: 100%;
				text-align: center;
				display: none;
				z-index: 10;
			}
			#down-list li{
				background: #333;
				border-bottom:1px solid #ccc;
			}
			#down-list li:last-child{
				border:none;
			}
			#down-list li a{
				color:white;
				font-size:18px;
			}
			/*内容栏*/
			#content{
				width: 100%;
				/*height: 500px;*/
				background: #eee; 
			}
			#wrap{
				width: 100%;
				height: 640px;
				margin:0 auto;
				position: relative;
				background: url(../img/contact/bg.png)  center 50px no-repeat;
				padding:100px 0;
			}
			#bg{
				position: absolute;
				bottom:0;
				width: 100%;
			}
			#call,#email{
				width: 100%;
				margin:20px;
				text-align: center;
			}
			#email img{
				margin-top:-10px;
			}
			.Font-lg{
				font-size:25px;
			}
			.Font-sm{
				font-weight: bold;
				font-size:1.1em;
				color:#595757;
			} 
			#contact{
				width: 1200px;
				margin:50px auto;
			}
			#contact img{
				float:left;
				margin-right:10px;
			}
			#contact li{
				width: 32%;
				height: 50px;
				margin:0 0.5%;
			}
			/*底部栏*/
			#footer{
				width: 100%;
				margin:30px auto;
				position: relative;
				text-align: center;
			}
			#mail{
				display: block;
				width: 25px;
				height: 25px;
				margin: 10px auto;
			}
			#footer-bot{
				height: 25px;
				width: 120px;
				margin:0 auto;
				display: flex;
				justify-content: space-between;
			}
			#mail img,#facebook img,#youtobe img,#link img,#twitter img{
				position: absolute;
			}
			#mail img{
				width: 25px;
				height: 25px;
			}
			#facebook img,#youtobe img,#link img,#twitter img{
				width: 25px;
				height: 25px;
			}
			#footer ul li a img:last-child{
				display: none;
			}
			#footer p{
				margin-top:20px;
				color:#666;
			}
			@media screen and (min-width:850px) and (max-width:1200px) {
				#nav-bar{
					width: 100%;
				}
			}
			@media  screen and (max-width:850px) {
				#nav-bar{
					width: 100%;
				}
				#push-down{
					display: block;
				}
				#nav-list{
					display: none;
				}
			}
			@media screen and (min-width:1150px ) {
				#contact li{
					float: left;
				}
				#contact img{
					float:left;
					margin-right:10px;
				}
			}
			@media screen and (max-width: 1150px) {
				#contact{
					width: 100%;
				}
				#contact li{
					width: 201px;
					margin:20px auto;
				}
				#contact li:last-child{
					width: 365px;
				}
				#contact li p{
					display: inline-block;
				}
			}