html,body,.out{
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

.loading_out{
	width: 100%;
	height:100%;
	background: #2a2a2a;
	position: absolute;
	top: 0;
	z-index: 3;
}

.loading{
	width: 320px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.loading_img{
	width: 48px;
	height:48px;
	background: url(./images/loading.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 136px;
	top:240px;
}

.loading_text{
	width: 48px;
	height:48px;
	position: absolute;
	left: 136px;
	top:240px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 48px;
}

@-webkit-keyframes 'loading_img' {
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(36000deg);
	}
}

.loading_img_move{
	-webkit-animation-name:'loading_img';
	-webkit-animation-duration:150s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-fill-mode:forwards;
}
.nub1_out{
	width: 100%;
	height:100%;
	background: url(../images/n1_bg.jpg) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.nub1{
	width: 320px;
	height:100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.nub_bg{
	width: 254px;
	height:254px;
	background: url(../images/yuan.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 33px;
	top:130px;
	opacity: 0;
}

.n1_mz1{
	width: 100%;
	height:200px;
	background: url(../images/n1_mz1.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -100%;
	top:263px;
	z-index: 1;
}

.n1_mz2{
	width: 100%;
	height:200px;
	background: url(../images/n1_mz2.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 100%;
	top:63px;
	z-index: 1;
}

.n1_mz3{
	width: 100%;
	height:200px;
	background: url(../images/n1_mz3.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -100%;
	top:283px;
	z-index: 1;
}

.n1_x1{
	width: 12px;
	height:20px;
	background: url(../images/n1_x1.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 53px;
	top:142px;
	opacity: 0;
}

.n1_x2{
	width: 12px;
	height:13px;
	background: url(../images/n1_x2.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 35px;
	top:145px;
	opacity: 0;
}

.n1_x3{
	width: 11px;
	height:17px;
	background: url(../images/n1_x3.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 59px;
	top:345px;
	opacity: 0;
}

.n1_x4{
	width: 13px;
	height:19px;
	background: url(../images/n1_x4.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 70px;
	top:365px;
	opacity: 0;
}

@-webkit-keyframes 'nub_bg' {
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@-webkit-keyframes 'n1_mz1' {
	0%{
		left: -100%;top:263px;
	}
	30%{
		left: -100%;top:263px;
	}
	60%{
		left: 0;top:173px;
	}
	100%{
		left: 0;top:173px;
	}
}

@-webkit-keyframes 'n1_mz2' {
	0%{
		left: 100%;top:63px;
	}
	60%{
		left: 100%;top:63px;
	}
	80%{
		left: 0;top:176px;
	}
	100%{
		left: 0;top:176px;
	}
}

@-webkit-keyframes 'n1_mz3' {
	0%{
		left: -100%;top:283px;
	}
	80%{
		left: -100%;top:283px;
	}
	100%{
		left: 0;top:173px;
	}
}

@-webkit-keyframes 'nub_bg_zhuan' {
	0%{
		opacity: 0;-webkit-transform:rotate(0deg);
	}
	0.1%{
		opacity: 1;
	}
	100%{
		opacity: 1;-webkit-transform:rotate(36000deg);
	}
}

.nub_bg_zhuan_move{
	-webkit-animation-name:'nub_bg_zhuan';
	-webkit-animation-duration:1000s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-fill-mode:forwards;
}

.nub_bg_move{
	-webkit-animation-name:'nub_bg';
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n1_1{
	-webkit-animation-name:'n1_mz1';
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n1_2{
	-webkit-animation-name:'n1_mz2';
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n1_3{
	-webkit-animation-name:'n1_mz3';
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.jt_out{
	width: 25px;
	height:25px;
	background: url(../images/jt_out.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	bottom: 10px;
	right: 9px;
	z-index: 100;
}

.jt{
	width: 25px;
	height:25px;
	background: url(../images/jt.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: -3px;
}

@-webkit-keyframes 'jt' {
	0%{
		-webkit-transform:scale(1) translateY(0);
	}
	50%{
		-webkit-transform:scale(1) translateY(5px);
	}
	100%{
		-webkit-transform:scale(1) translateY(0);
	}
}

.jt_move{
	-webkit-animation-name:'jt';
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-fill-mode:forwards;
}


.nub2_out{
	width: 100%;
	height:100%;
	background: #2a2a2a;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.nub1{
	width: 320px;
	height:100%;
	margin: 0 auto;
	position: relative;
}

.n2_mz1{
	width: 100%;
	height:180px;
	background: url(../images/n2_1.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 100%;
}

.n2_mz1_nr{
	width: 100%;
	height:180px;
	background: url(../images/n2_2.png) 0 0 no-repeat;
	background-size: 100% 100%;
}


.n2_mz2{
	width: 100%;
	height:100px;
	background: url(../images/n2_3c.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 100%;
}

.n2_mz3{
	width: 100%;
	height:215px;
	background: url(../images/n2_4.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 100%;
}

.n2_mz3_left{
	width: 72px;
	position: absolute;
	left: 94px;
	bottom: 36px;
}

.n2_mz3_right{
	width: 72px;
	position: absolute;
	left: 178px;
	bottom: 36px;
}

.n2_mz3_left span{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 10px;
	line-height: 10px;
	color: #89a108;
	margin-bottom: 4px;	
}

.n2_mz3_left strong{
	display: block;
	width: 70px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	border: 1px solid #89a108;
	border-radius: 4px;
	color: #89a108;
	background: #343434;
	font-size: 10px;
	margin-bottom: 5px;
}

.n2_mz3_left strong img{
	width: 9px;
	height: 9px;
	margin-left: 8px;
	vertical-align: top;
	margin-top: 1px;
}

.zhu_left{
	width: 100%;
	background: #89a108;
}

.n2_mz3_right span{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 10px;
	line-height: 10px;
	color: #ffc200;
	margin-bottom: 4px;	
}

.n2_mz3_right strong{
	display: block;
	width: 70px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	border: 1px solid #ffc200;
	border-radius: 4px;
	color: #ffc200;
	background: #343434;
	font-size: 10px;
	margin-bottom: 5px;
}

.n2_mz3_right img{
	width: 9px;
	height: 9px;
	margin-left: 8px;
	vertical-align: top;
	margin-top: 1px;
}

.zhu_right{
	width: 100%;
	background: #ffc200;
}

@-webkit-keyframes 'zhu_left' {
	0%{
		height:0;
	}

	100%{
		height:82px;
	}
}

@-webkit-keyframes 'zhu_right' {
	0%{
		height:0;
	}

	100%{
		height:6px;
	}
}

.zhu_left_move{
	-webkit-animation-name:'zhu_left';
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.zhu_right_move{
	-webkit-animation-name:'zhu_right';
	-webkit-animation-duration:0.3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes 'n2_mz1' {
	0%{
		top:100%;
	}
	25%{
		top:0;
	}
	100%{
		top:0;
	}
}
@-webkit-keyframes 'n2_mz1_nr' {
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes 'n2_mz2' {
	0%{
		top:100%;
	}
	25%{
		top:100%;
	}
	50%{
		top:180px;
	}
	100%{
		top:180px;
	}
}

@-webkit-keyframes 'n2_mz3' {
	0%{
		top:100%;
	}
	50%{
		top:100%;
	}
	75%{
		top:100%;
	}
	100%{
		top:280px;
	}
}
.n2_mz1_move{
	-webkit-animation-name:'n2_mz1';
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n2_mz2_move{
	-webkit-animation-name:'n2_mz2';
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n2_mz3_move{
	-webkit-animation-name:'n2_mz3';
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n2_mz1_nr_move{
	-webkit-animation-name:'n2_mz1_nr';
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.nub3_out{
	width: 100%;
	height:100%;
	background: #2a2a2a;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.n3_1{
	width: 100%;
	padding-top: 13px;
	height:147px;
	position: absolute;
	top: 100%;
}

.n3_1 strong{
	display: block;
	width: 100%;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	color: #e3e3e3;
	text-align: center;
	margin-bottom: 13px;
}

.n3_1 span{
	display: block;
	width: 100%;
	height:11px;
	line-height: 11px;
	font-size: 11px;
	color: #a4a4a4;
	text-align: center;
}

.ditu1{
	width: 112px;
	height:98px;
	background: url(../images/dt1.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 40px;
	bottom: 0px;
}

.ditu2{
	width: 112px;
	height:98px;
	background: url(../images/dt2.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 40px;
	bottom: 0px;
}

.n3_h{
	width: 29px;
	height: 29px;
	background: url(../images/n3_h.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 93px;
	bottom: 43px;
}

.n3_s{
	width: 29px;
	height: 29px;
	background: url(../images/n3_s.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 93px;
	bottom: 8px;
}

.n3_text{
	width: 165px;
	height:67px;
	background: url(../images/n3_1.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 118px;
	bottom: 12px;
	opacity: 0;
}

.n3_ul{
	padding: 7px 15px 0px 35px;
	position: absolute;
	top: 100%;
}

.n3_ul li{
	width: 100%;
	padding-top: 2px;
	height:20px;
	background: url(../images/n3_li.png) 0 0 no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

.n3_ul li strong{
	display: inline-block;
	width: 48px;
	height:20px;
	padding-right: 10px;
	line-height: 20px;
	text-align: right;
	color: #a4a4a4;
	font-size: 10px;
	float: left;
}

.n3_t_out{
	display: inline-block;
	width: 200px;
	height:18px;
}

.n3_t_out span{
	display: block;
	width: 100%;
	height:9px;
	float: left;
}

.n3_t_out .n3_blue{
	display: inline-block;
	height:9px;
	background: #de5411;
	float: left;
}

.n3_t_out .n3_red{
	display: inline-block;
	height:9px;
	background: #01aaf0;
	float: left;
}

.n3_bv{
	display: inline-block;
	height:10px;
	font-size: 9px;
	color: #de5411;
	margin-left: 5px;
	float: left;
	margin-top: -2px;
	opacity: 0;
}

.n3_rv{
	display: inline-block;
	height:10px;
	font-size: 9px;
	color: #01aaf0;
	margin-left: 5px;
	float: left;
	margin-top: -1px;
	opacity: 0;
}

.n3_em1{
	width: 108px;
}

.n3_em2{
	width: 155px;
}

.n3_em3{
	width: 78px;
}

.n3_em4{
	width: 53px;
}

.n3_em5{
	width: 47px;
}

.n3_em6{
	width: 42px;
}

.n3_em7{
	width: 8px;
}

.n3_em8{
	width: 37px;
}

.n3_em9{
	width: 33px;
}

.n3_em10{
	width: 26px;
}

.n3_em11{
	width: 30px;
}

.n3_em12{
	width: 19px;
}

.n3_em13{
	width: 15px;
}

.n3_2{
	width: 320px;
	height: 122px;
	background: url(../images/n3_2.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 100%;
}

.logo{
	width: 100%;
	height: 14px;
	background: url(../images/logo.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	bottom: 9px;
	display: none;
	z-index: 100;
}

.last_logo{
	width: 100%;
	height: 14px;
	background: url(../images/logo.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	bottom: 9px;
}

@-webkit-keyframes 'n3_1' {
	0%{
		top:100%;
	}
	12%{
		top:0;
	}
	100%{
		top:0;
	}
}

@-webkit-keyframes 'n3_ul' {
	0%{
		top:100%;
	}
	65%{
		top:100%;
	}
	77%{
		top:158px;
	}
	100%{
		top:158px;
	}
}

@-webkit-keyframes 'n3_2' {
	0%{
		top:100%;
	}
	80%{
		top:100%;
	}
	92%{
		top:370px;
	}
	100%{
		top:370px;
	}
}

@-webkit-keyframes 'n3_ul_li' {
	0%{
		width: 0px; 
	}
	65%{
		width: 0px;
	}
	95%{
		width: 180px;
	}
	100%{
		width: 180px;
	}
}

@-webkit-keyframes 'ditu1' {
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes 'ditu2' {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes 'huo' {
	0%{
		width: 0;height: 0;-webkit-transform:rotate(0deg);
	}
	40%{
		width: 0;height: 0;-webkit-transform:rotate(0deg);
	}
	65%{
		width: 0;height: 0;-webkit-transform:rotate(0deg);
	}
	100%{
		width: 29px;height: 29px;-webkit-transform:rotate(1080deg);
	}
}
.n3_1_move{
	-webkit-animation-name:'n3_1';
	-webkit-animation-duration:5.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n3_ul_move{
	-webkit-animation-name:'n3_ul';
	-webkit-animation-duration:4.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n3_2_move{
	-webkit-animation-name:'n3_2';
	-webkit-animation-duration:6.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n3_ul_li_move{
	-webkit-animation-name:'n3_ul_li';
	-webkit-animation-duration:5.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.ditu1_move{
	-webkit-animation-name:'ditu1';
	-webkit-animation-duration:2.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.ditu2_move{
	-webkit-animation-name:'ditu2';
	-webkit-animation-duration:2.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.huo_move{
	-webkit-animation-name:'huo';
	-webkit-animation-duration:2.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.nub4_out{
	width: 100%;
	height:100%;
	background: #2a2a2a;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.n4_1{
	width: 100%;
	padding-top: 11px;
	height:247px;
	position: absolute;
	top: 100%;
}

.n4_1_1{
	width: 100%;
	height:18px;
	text-align: center;
	line-height: 18px;
	font-size: 15px;
	color: #d7d7d7;
	margin-bottom: 8px;
}

.n4_1_2{
	width: 100%;
	height:15px;
	text-align: center;
	line-height: 15px;
	font-size: 14px;
	color: #d7d7d7;
	margin-bottom: 10px;
}

.n4_1_3{
	width: 100%;
	height:12px;
	text-align: center;
	line-height: 12px;
	font-size: 12px;
	color: #a4a4a4;
}

.dk_out{
	width: 100%;
	height:164px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.dk_l{
	width: 161px;
	height: 164px;
	background: url(../images/n4_left.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -100%;
}

.dk_r{
	width: 159px;
	height: 164px;
	background: url(../images/n4_right.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right:-100%;
}

.n4_sd{
	width: 19px;
	height:157px;
	background: url(../images/n4_sd.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 152px;
	opacity: 0;
}

.dk_text{
	width: 100%;
	height:164px;
	background: url(../images/n4_1.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
}

.n4_2{
	width: 100%;
	height:187px;
	padding-top: 16px;
	position: absolute;
	left: 0;
	top: 100%;

}

.n4_2_2{
	width: 100%;
	height:159px;
	margin-top: 17px;
	background: url(../images/n4_2.png) 0 0 no-repeat;
	background-size: 100% 100%;
}

@-webkit-keyframes 'n4_1' {
	0%{
		top:100%;
	}
	100%{
		top:0;
	}
}

@-webkit-keyframes 'n4_2' {
	0%{
		top:100%;
	}
	70%{
		top:100%;
	}
	100%{
		top:258px;
	}
}

@-webkit-keyframes 'dk_l' {
	0%{
		left:-100%;
	}
	50%{
		left:0;
	}
	65%{
		left:-5%;
	}
	80%{
		left:0;
	}
	97%{
		left:-2%;
	}
	100%{
		left:0;
	}
}
@-webkit-keyframes 'dk_r' {
	0%{
		right:-100%;
	}
	50%{
		right:0;
	}
	65%{
		right:-5%;
	}
	80%{
		right:0;
	}
	97%{
		right:-2%;
	}
	100%{
		right:0;
	}
}

@-webkit-keyframes 'n4_sd' {
	0%{
		opacity: 0; width: 0;height:0;top: -20px;
	}
	25%{
		opacity: 1; top: 0px;
	}
	50%{
		opacity: 0.3;
	}
	65%{
		opacity: 1;width: 19px;height:157px;
	}
	75%{
		opacity: 0.3;
	}
	85%{
		opacity: 1;
	}
	90%{
		opacity: 0.3;
	}
	94%{
		opacity: 1;
	}
	97%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


.n4_1_move{
	-webkit-animation-name:'n4_1';
	-webkit-animation-duration:0.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n4_2_move{
	-webkit-animation-name:'n4_2';
	-webkit-animation-duration:2.3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.dk_l_move{
	-webkit-animation-name:'dk_l';
	-webkit-animation-duration:0.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.dk_r_move{
	-webkit-animation-name:'dk_r';
	-webkit-animation-duration:0.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n4_sd_move{
	-webkit-animation-name:'n4_sd';
	-webkit-animation-duration:0.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.nub5_out{
	width: 100%;
	height:100%;
	background: #2a2a2a;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.n5_1{
	width: 100%;
	height:127px;
	padding-top: 12px;
	position: absolute;
	top: 100%;
}

.n5_1_3{
	width: 100%;
	height:12px;
	text-align: center;
	line-height: 12px;
	font-size: 12px;
	color: #a4a4a4;
	margin-bottom: 11px;
}

.n5_q_out{
	width: 100%;
	height:46px;
	position: absolute;
	bottom: 0;
}

.n5_q1{
	width: 56px;
	height: 56px;
	background: url(../images/n5_q1.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -56px;
}

.n5_q2{
	width: 56px;
	height: 56px;
	background: url(../images/n5_q2.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -56px;
}

.n5_q3{
	width: 56px;
	height: 56px;
	background: url(../images/n5_q3.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -56px;
}

.n5_q4{
	width: 56px;
	height: 56px;
	background: url(../images/n5_q4.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: -56px;
}

@-webkit-keyframes 'n5_q1' {
	0%{
		left:-56px;-webkit-transform:rotate(0deg);
	}
	20%{
		left:231px;-webkit-transform:rotate(750deg);
	}
	40%{
		left:231px;-webkit-transform:rotate(720deg);
	}
	100%{
		left:231px;-webkit-transform:rotate(720deg);
	}
}

@-webkit-keyframes 'n5_q2' {
	0%{
		left:-56px;-webkit-transform:rotate(0deg);
	}
	20%{
		left:-56px;-webkit-transform:rotate(120deg);
	}
	40%{
		left:168px;-webkit-transform:rotate(750deg);
	}
	60%{
		left:168px;-webkit-transform:rotate(720deg);
	}
	100%{
		left:168px;-webkit-transform:rotate(720deg);
	}
}

@-webkit-keyframes 'n5_q3' {
	0%{
		left:-56px;-webkit-transform:rotate(0deg);
	}
	40%{
		left:-56px;-webkit-transform:rotate(240deg);
	}
	60%{
		left:106px;-webkit-transform:rotate(750deg);
	}
	80%{
		left:106px;-webkit-transform:rotate(720deg);
	}
	100%{
		left:106px;-webkit-transform:rotate(720deg);
	}
}

@-webkit-keyframes 'n5_q4' {
	0%{
		left:-56px;-webkit-transform:rotate(0deg);
	}
	60%{
		left:-56px;-webkit-transform:rotate(0deg);
	}
	80%{
		left:43px;-webkit-transform:rotate(390deg);
	}
	100%{
		left:43px;-webkit-transform:rotate(360deg);
	}
}
.n5_q1_move{
	-webkit-animation-name:'n5_q1';
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n5_q2_move{
	-webkit-animation-name:'n5_q2';
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n5_q3_move{
	-webkit-animation-name:'n5_q3';
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n5_q4_move{
	-webkit-animation-name:'n5_q4';
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n5_2{
	width: 100%;
	height:128px;
	background: url(../images/n5_2.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 100%;
}

.n5_3{
	width: 100%;
	height:129px;
	background: url(../images/n5_3.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 100%;
}

@-webkit-keyframes 'n5_1' {
	0%{
		top:100%;
	}
	20%{
		top:0;
	}
	100%{
		top:0;
	}
}
@-webkit-keyframes 'n5_2' {
	0%{
		top:100%;
	}
	55%{
		top:100%;
	}
	80%{
		top:164px;
	}
	100%{
		top:164px;
	}
}
@-webkit-keyframes 'n5_3' {
	0%{
		top:100%;
	}
	75%{
		top:100%;
	}
	95%{
		top:327px;
	}
	100%{
		top:327px;
	}
}
.n5_1_move{
	-webkit-animation-name:'n5_1';
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n5_2_move{
	-webkit-animation-name:'n5_2';
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n5_3_move{
	-webkit-animation-name:'n5_3';
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.nub6_out{
	width: 100%;
	height:100%;
	background: #2a2a2a;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.n6_1{
	width: 100%;
	height:43px;
	padding-top: 12px;
	position: absolute;
	top: 100%;
}

.n6_ul{
	padding-top: 23px;
	padding-left: 35px;
	height:365px;
	width: 260px;
	display: none;
}

.n6_ul li{
	width: 100%;
	height: 55px;
	margin-bottom: 23px;
}

.n6_ul li strong{
	display: inline-block;
	width: 55px;
	height:55px;
	margin-right:5px;
}

.n6_ul li strong img{
	width: 100%;
	height:100%;
}

.n6_ul li span{
	display: inline-block;
	width: 192px;
	height:55px;
	overflow: hidden;
}

.n6_ul li span img{
	width: 192px;
	height:55px;
}

.n6_x{
	width: 1px;
	height:255px;
	overflow: hidden;
	position: absolute;
	left: 63px;
	top: 140px;
	display: none;
}

.n6_x img{
	width: 1px;
	height:255px;
}

@-webkit-keyframes 'n6_q1' {
	0%{
		width:0;height:0;
	}
	10%{
		width:55px;height:55px;
	}
	100%{
		width:55px;height:55px;
	}
}

@-webkit-keyframes 'n6_q2' {
	0%{
		width:0;height:0;
	}
	20%{
		width:0;height:0;
	}
	30%{
		width:55px;height:55px;
	}
	100%{
		width:55px;height:55px;
	}
}

@-webkit-keyframes 'n6_q3' {
	0%{
		width:0;height:0;
	}
	40%{
		width:0;height:0;
	}
	50%{
		width:55px;height:55px;
	}
	100%{
		width:55px;height:55px;
	}
}

@-webkit-keyframes 'n6_q4' {
	0%{
		width:0;height:0;
	}
	60%{
		width:0;height:0;
	}
	70%{
		width:55px;height:55px;
	}
	100%{
		width:55px;height:55px;
	}
}

@-webkit-keyframes 'n6_q5' {
	0%{
		width:0;height:0;
	}
	80%{
		width:0;height:0;
	}
	90%{
		width:55px;height:55px;
	}
	100%{
		width:55px;height:55px;
	}
}
.n6_q1_move{
	-webkit-animation-name:'n6_q1';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n6_q2_move{
	-webkit-animation-name:'n6_q2';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n6_q3_move{
	-webkit-animation-name:'n6_q3';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n6_q4_move{
	-webkit-animation-name:'n6_q4';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n6_q5_move{
	-webkit-animation-name:'n6_q5';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes 'n6_text1' {
	0%{
		width:0;
	}
	10%{
		width:0;
	}
	20%{
		width:192px;
	}
	100%{
		width:192px;
	}
}
@-webkit-keyframes 'n6_text2' {
	0%{
		width:0;
	}
	30%{
		width:0;
	}
	40%{
		width:192px;
	}
	100%{
		width:192px;
	}
}

@-webkit-keyframes 'n6_text3' {
	0%{
		width:0;
	}
	50%{
		width:0;
	}
	60%{
		width:192px;
	}
	100%{
		width:192px;
	}
}
@-webkit-keyframes 'n6_text4' {
	0%{
		width:0;
	}
	70%{
		width:0;
	}
	80%{
		width:192px;
	}
	100%{
		width:192px;
	}
}

@-webkit-keyframes 'n6_text5' {
	0%{
		width:0;
	}
	90%{
		width:0;
	}
	100%{
		width:192px;
	}
}

.n6_text1_move{
	-webkit-animation-name:'n6_text1';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n6_text2_move{
	-webkit-animation-name:'n6_text2';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n6_text3_move{
	-webkit-animation-name:'n6_text3';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n6_text4_move{
	-webkit-animation-name:'n6_text4';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.n6_text5_move{
	-webkit-animation-name:'n6_text5';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes 'n6_x' {
	0%{
		height:0;
	}
	10%{
		height:0;
	}
	20%{
		height:22px;
	}
	30%{
		height:22px;
	}
	40%{
		height:100px;
	}
	50%{
		height:100px;
	}
	60%{
		height:177px;
	}
	70%{
		height:177px;
	}
	80%{
		height:254px;
	}
	90%{
		height:254px;
	}
	100%{
		height:254px;
	}
}

@-webkit-keyframes 'n6_1' {
	0%{
		top:100%;
	}
	100%{
		top:0;
	}
}
.n6_x_move{
	-webkit-animation-name:'n6_x';
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n6_1_move{
	-webkit-animation-name:'n6_1';
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

.nub7_out{
	width: 100%;
	height:100%;
	background: #2a2a2a;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.n7_1{
	width: 100%;
	padding-top: 61px;
	height:60px;
	position: absolute;
	top: 100%;
}

.n7_1 strong{
	display: block;
	width: 304px;
	height:22px;
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	color: #e3e3e3;
	margin-bottom: 15px;
}

.n7_1 span{
	display: block;
	width: 100%;
	height:18px;
	line-height: 18px;
	font-size: 18px;
	text-align: center;
	color: #a4a4a4;
}

.n7_2{
	width: 100%;
	height:56px;
	background: url(../images/n7_1.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 100%;
	left: 0;
}

.n7_3{
	width: 100%;
	height:36px;
	position: absolute;
	top: 100%;
	left: 0;
}

.n7_3 img{
	display: block;
	width: 100%;
	height:20px;
}

.n7_3 strong{
	display: block;
	width: 100%;
	height:12px;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	color: #a4a4a4;
	margin-top: 4px;
	letter-spacing:0.8px;
}

.n7_3 span{
	font-family:Verdana;
}

.n7_4{
	width: 100%;
	height:30px;
	position: absolute;
	top: 100%;
	left: 0;
}

.lj_out{
	display: block;
	width: 227px;
	overflow: hidden;
	margin: 0 auto;
	text-decoration: none;
	font-family:Verdana;
}

.lj_out strong{
	display: block;
	text-align: left;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	color: #a4a4a4;
}

.lj_out span{
	display: block;
	text-align: left;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	color: #a4a4a4;
	letter-spacing:1px;
}

@-webkit-keyframes 'n7_1' {
	0%{
		top:100%;
	}
	25%{
		top:0;
	}
	100%{
		top:0;
	}
}
@-webkit-keyframes 'n7_2' {
	0%{
		top:100%;
	}
	25%{
		top:100%;
	}
	50%{
		top:185px;
	}
	100%{
		top:185px;
	}
}
@-webkit-keyframes 'n7_3' {
	0%{
		top:100%;
	}
	50%{
		top:100%;
	}
	75%{
		top:311px;
	}
	100%{
		top:311px;
	}
}

@-webkit-keyframes 'n7_4' {
	0%{
		top:100%;
	}
	50%{
		top:100%;
	}
	75%{
		top:100%;
	}
	100%{
		top:400px;
	}
}
.n7_1_move{
	-webkit-animation-name:'n7_1';
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n7_2_move{
	-webkit-animation-name:'n7_2';
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n7_3_move{
	-webkit-animation-name:'n7_3';
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.n7_4_move{
	-webkit-animation-name:'n7_4';
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes 'nub1_out' {
	0%{
		top:0;opacity: 1;
	}
	100%{
		top:-100%;opacity: 0;
	}
}
@-webkit-keyframes 'nub2_out' {
	0%{
		top:0;opacity: 1;
	}
	100%{
		top:100%;opacity: 0;
	}
}
@-webkit-keyframes 'loading' {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.y1_2{
	-webkit-animation-name:'nub1_out';
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.y2_3{
	-webkit-animation-name:'nub2_out';
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
.loading_move{
	-webkit-animation-name:'loading';
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}

#canvas1{
	position: absolute;
	left: 36px;
	top: 29px;
	display:block;
	background:#2a2a2a;
}

#canvas2{
	position: absolute;
	left: 102px;
	top: 29px;
	display:block;
	background:#2a2a2a;
}

#canvas3{
	position: absolute;
	left: 169px;
	top: 29px;
	display:block;
	background:#2a2a2a;
}

#canvas4{
	position: absolute;
	left: 235px;
	top: 29px;
	display:block;
	background:#2a2a2a;
}

.canvas1_text{
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	left: 36px;
	top: 29px;
	color: #ffc200;
}

.canvas2_text{
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	left: 102px;
	top: 29px;
	color: #fe9000;
}

.canvas3_text{
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	left: 169px;
	top: 29px;
	color: #01abf1;
}

.canvas4_text{
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	left: 235px;
	top: 29px;
	color: #89a108;
}

.kaiguan{
	width:20px;
	height:16px;
	background: url(../images/kaiguan.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: fixed;
	top: 8px;
	right:8px;
	z-index: 100;
}

.kaiguanguan{
	width:20px;
	height:16px;
	background: url(../images/kaiguanguan.png) 0 0 no-repeat;
	background-size: 100% 100%;
	position: fixed;
	top: 8px;
	right:8px;
	z-index: 100;
	display: none;
}